{# purpose of this template: pages index view #}
{% extends routeArea == 'admin' ? 'RKLandingPagesModule::adminBase.html.twig' : 'RKLandingPagesModule::base.html.twig' %}
{% block title __('pages') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the page section of the Landing pages application.') }}</p>
{% endblock %}
